.card {
  background: transparent;
  position: relative;
  width: 323px;
  height: 326px;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
  border-width: 1px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 164px;
    height: 164px;
  }
}

@media (max-width: 480px) {
  .main {
    max-width: 375px;
    margin: 0 auto;
  }

  .card__list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
