.card {
  background: transparent;
  position: relative;
  width: 323px;
  height: 326px;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  padding: 2px 12px;
  border-radius: 4px;
  text-align: center;
  color: #00000080;
  font-weight: 700;
  font-size: 16px;
}

.card__image {
  width: 100%;
  border-width: 1px;
  border-radius: 10px;
}
