.header {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.header__logo {
  margin-right: 24px;
  width: 89px;
  height: 40px;
}

.header__date {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__button {
  font-weight: 700;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 20px 0 auto;
}

.header__username {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
